@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Playfair+Display+SC&family=Staatliches&display=swap");

body {
  font-family: "Abel";
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  padding-top: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}

#logo {
  height: 25px;
  width: 25px;
}

#user-logo {
  height: 25px;
  width: 25px;
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* Adding style in all_products */
.all_products {
  display: flex;
  flex-direction: wrap;
}

.all_products__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-height: 800px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.all_products__name {
  font-weight: bolder;
  padding: 10px;
}
.all_products__image {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.all_products__price {
  margin-top: 1px;
}
.all_products__button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 5px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
/* Adding style in single_products */
.single_products {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  border: 1px solid #2d2d2d;
  justify-content: center;
}
.single_products__name {
  font-weight: bolder;
  padding: 10px;
}
.single_products__button {
  background: #f0c14b;
  border: 1px solid;
  margin: auto;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 10px 25px;
  font-size: 16px;
  align-self: center;
}

/*  Checkout */
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__name {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__name {
  font-size: 17px;
  font-weight: 800;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.confirmation {
  text-align: center;
  padding-top: 100px;
}

.confirmation > small {
  text-align: center;
}
